<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="container">
    <!-- Mission to Mars Header -->
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- NASA News -->
    <div class = "row">
        <div class = "col-md-12">
            <div class = "container border-box">
                <h3>Latest Mars News</h3>
                <h5>{{ mars.Mars_Headline }}</h5>
                <p>{{ mars.Mars_Description }}</p>
            </div>
        </div>
    </div>

    <div class = "row non-border-box">
        <!-- JPL image -->
            <div class = "col-md-8">
                <h2>Featured Mars Image</h2>
                <img src="{{ mars.jpl_link }}" alt="jpl_img">
            </div>

        <!-- side section -->
        <div class="col-md-4">
            <!-- twitter -->
            <div class = "container border-box">
                <h4>Current Weather on Mars</h4>
                <p>{{ mars.twitter }}</p>
            </div>
            
            <!-- Mars Table from panda dataframe -->
            <div class = " table-hover">
                {{ mars.table_html|safe }}
            </div>
        </div>


        <!-- Mars hemisphere -->
        <div class="container non-border-box"> 
            <div class="col-12">
                <h2>Mars hemisphere</h2>
                <hr>
                <div class = "row">
                    <div class = "col-12 col-md-6">
                        <img src="{{ mars.hemisphere[0].link }}" alt="{{ mars.hemisphere[0].title }}">
                        <h5 class = 'hemi-title'>{{ mars.hemisphere[0].title }}</h5>
                    </div>
                    <div class = "col-12 col-md-6">
                        <img src="{{ mars.hemisphere[1].link }}" alt="{{ mars.hemisphere[1].title }}">
                        <h5 class = 'hemi-title'>{{ mars.hemisphere[1].title }}</h5>
                    </div>
                    <div class = "col-12 col-md-6">
                        <img src="{{ mars.hemisphere[2].link }}" alt="{{ mars.hemisphere[2].title }}">
                        <h5 class = 'hemi-title'>{{ mars.hemisphere[2].title }}</h5>
                    </div>
                    <div class = "col-12 col-md-6">
                        <img src="{{ mars.hemisphere[3].link }}" alt="{{ mars.hemisphere[3].title }}">
                        <h5 class = 'hemi-title'>{{ mars.hemisphere[3].title }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>

</html>

